/*Clipping*/
.base {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}
.content {
  width: 1000px;
}

.enlarge-hover:hover {
  transform: scale(1.2);
}

/*Resume download button*/
.resume-download {
  background-color: white;
  border-radius: 25px;
  height: 30px;
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.resume-download:hover {
  filter: invert(80%);
}

.resume-download-logo {
  padding-left: 5px;
  height: 20px;
  width: 20px;
}

/* Header stuff */
.clickable {
  cursor: pointer;
}

.sticky-top {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.header-base {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  z-index: 10;
  height: 50px;
}

.header-content {
  width: 1000px;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.header-logo {
  padding-right: 10px;
  height: 35px;
  width: 35px;
}

.download-divider {
  width: 20px;
}

/* About */
.about-container {
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-left {
  padding-right: 10px;
}

.about-name {
  font-size: 300%;
}

.about-welcome {
  font-size: 90%;
}

.about-right {
  font-size: 100%;
}

/* Contact */
.contact-base {
  display: flex;
  flex-direction: row;
}

.carousel-slideshow {
  width: 700px;
}

.carousel-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 5px 0 0 0;
}

.carousel-annotation {
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-radius: 0 0 0 5px;
  height: 20px;
}

/*Height is annotation + image height + any padding*/
.profile-base {
  position: relative;
  width: 300px;
  height: 530px;
  background-color: black;
  border-radius: 0 5px 5px 0;
  overflow: hidden;
}

.logo-button {
  width: 30px;
  border-radius: 5px;
}

.profile-top-logos {
  margin-top: 15%;
}

.profile-bottom-logos {
  margin-top: -15%;
}

/* padding plus width has to equal 100*/
.profile-line-logos {
  display: flex;
  justify-content: space-between;
  width: 70%;
  z-index: 2;
  position: absolute;
  padding-left: 15%;
  padding-right: 15%;
}

.carousel-contact {
  margin-left: 14%;
  margin-top: 10%;
  width: 80%;
}

.headshot {
  width: 90%;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.profile-lines {
  margin-top: 20px;
  color: white;
  width: 270px;
  margin-left: 15px;
}

.profile-identity {
  text-align: center;
}

.profile-name {
  font-size: 200%;
}

.profile-contact {
  margin-top: 30px;
}

.profile-item {
  display: flex;
  justify-content: space-between;
}

.profile-logos {
  height: 20px;
  width: 20px;
}

.profile-resume {
  margin-left: 85px;
  margin-top: 40px;
}

/*Skills*/
.skills-base {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skills-emphasis {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.skills-1 {
  height: 50%;
  display: flex;
  justify-content: center;
}

.skills-1-img {
  height: 175px;
  object-fit: cover;
}

.skills-23 {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
}

.skills-23-img {
  height: 175px;
  object-fit: cover;
}

.skills-annotation {
  text-align: center;
  color: black;
}

.skills-collection {
  width: 550px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.skills-small {
  height: 100px;
  width: 100px;
  object-fit: cover;
  padding: 5px;
}

.skills-annotation-small {
  text-align: center;
  color: black;
}

/* Experience */
/* - Project component*/
.experience-slide {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 80px;
  height: 300px;
}

.experience-carousel {
  width: 400px;
  padding-right: 40px;
}

.experience-text {
  height: 300px;
  color: black;
  width: auto;
}

.experience-redirect {
}
/* Base*/
.experience-base {
  display: flex;
  flex-direction: column;
}
.experience-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px 5px 5px 5px;
}

/* Text */
* {
  font-family: Cabin;
  font-weight: lighter;
  font-stretch: expanded;
}

/* Logo FBD */
h1 {
  color: white;
  font-weight: bold;
  font-size: 200%;
}

/* Date text */
h2 {
  font-size: 80%;
  color: black;
}

/* Experience text */
h3 {
  font-size: 100%;
  color: black;
  text-align: justify;
}

/* Experience title */
h4 {
  margin: 0;
  padding: 0;
  font-size: 120%;
  color: black;
  font-weight: bold;
}

/* Section titles */
h5 {
  font-size: 160%;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

/* Header text */
h6 {
  padding: 10px;
  font-size: 100%;
  color: white;
}
